@import "tailwindcss";
@plugin "daisyui";

.container-width {
    /* width: 96rem; */
    /* margin: 0% auto; */
    max-width: var(--breakpoint-2xl);
    margin-inline: auto;
}

@media print {
    * {
        overflow: visible !important;
    }

    [class='dark'] {
        background-color: white;
    }

    .info-nav,
    .header,
    .advertisement,
    .invoice-footer,
    .invoice-head,
    .invoice-btn {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    .invoice {
        display: block;
        height: 100vh;
        width: 100vw;
        margin: 0%;
    }
}